@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/*
UNIVERSAL RESETS
*/

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}



/*
BODY
*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}



/*
HEADER
*/
header {
    background-color: #1f2937;
}

ul {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 24px 20vw 0 20vw;
}

li {
    list-style: none;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}



/*
MAIN
*/
.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}



/*
HERO SPACE
*/
.hero-space {
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    flex: 1;
    padding: 40px 20vw 120px 20vw;    
    gap: 56px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100px;
    margin-bottom: 12px;
}

.left,
.right {
    flex: 1;
}

.right {
    display: flex;
}

.left > button {
    background-color: #3882f6;
    color: #f9faf8;
    border-style: none;
    padding: 6px 24px;
    border-radius: 6px;
}

.right > img {
    background-color: #6D747D;
    flex: 1;
    display: flex;
    line-height: 190px;
    text-align: center;
}



/*
INFORMATION SECTION
*/
.information {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 40px 30vw;
}

.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 16px;
}

.container {
    flex: 1;
    display: flex;
    width: 100vw;
    gap: 4vw;
    justify-content: center;
    flex-wrap: wrap;
}

figure {
    width: 144px;
    display: flex;
    flex-direction: column;
}

figure > img {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    margin-bottom: 8px;
}



/*
QUOTE SECTION
*/
.quote {
    background-color: #e5e7eb;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 30vw;
}

.quote > p {
    color: #1f2937;
    font-weight: 700;
    margin-left: auto;
}

.quote > p:first-of-type {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}



/*
CALL-TO-ACTION SECTION
*/
.call-to-action {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 88px 20vw;
}

.splash {
    display: flex;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    flex: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
    height: 184px;
    padding: 0 128px;
    flex-wrap: wrap;
}

.bold {
    font-weight: 700;
    font-size: 20px;
}

.thin {
    font-weight: 300;
}

.splash > button {
    border: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    margin-left: auto;
    padding: 12px 40px;
}



/*
FOOTER: COMPLETE
*/
footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;
}